@font-face {
    font-family: calc-font;
    src: url(calculator-font.ttf);
}

:root {
    --color: 
    --color: 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    font-family: calc-font;
}

.logo {
    background: url('img/logo.png');
    background-size: contain;
}

.main {
    width: 80%;
    height: 90vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator {
    border: 1px solid #333;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
    grid-gap: 3px;
    background: #eee;
}

.viewer {
    grid-column: 1 / -1;
    border: 1px solid #333;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: calc-font;
    font-size: 2.5rem;
    background: #fff;
}

div>[data-num="0"] {
    grid-column: 1 / 3;
}

/* Buttons */
button {
    border: none;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.ops {
    background: #03A9F4;
}

.clear {
    background: #E53935;
}

.clear-all {
    background: #C62828;
}

.num {
    background: #F5F5F5;
}

.equals {
    background: #0D47A1;
}