@font-face {
    font-family: calc-font;
    src: url(calculator-font.ttf);
}

:root {
    --color: 
    --color: 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    font-family: calc-font;
}

.logo {
    height: 80px;
    width: 80px;
    background: url('https://www.kresomaric.me/img/logo-black.svg');
    border: 1px solid #333;
}

.main {
    width: 100%;
    height: 800px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 450px;
    height: 700px;
    border: 1px solid #333;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
    grid-gap: 3px;
    /* align-content: flex-end; */
}

.viewer {
    grid-column: 1 / -1;
    border: 1px solid #333;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: calc-font;
    font-size: 2rem;
}

div>[data-num="0"] {
    grid-column: 1 / 3;
}
