*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background: #616161;
  position: relative;
}

/* Main content box */
.main {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.box ul {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 100px;
  list-style: none;
}

/* Lights styles */
.lights-top {
  width: 50px;
  height: 40px;
  background: #263238;
  border-radius: 4% 4% 4% 4% / 10% 10% 10% 10%;
}

.light {
  height: 60px;
  width: 40px;
  border: 1px solid #fff;
  border-top: none;
  border-radius: 50% 50% 50% 50% / 0% 0% 60% 60%;
  left: 5px;
  top: 40px;
  position: relative;
}

.light::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 5px;
  width: 8px;
  height: 20px;
  background: rgba(255, 255,255, .9);
  border-radius: 96% 4% 96% 4% / 90% 4% 96% 10% ;
  box-shadow: 0 0 2px 3px rgba(255, 255, 255, .3);
}

/* Switch box */

.switch-box {
  width: 150px;
  height: 250px;
  border: 1px solid aliceblue;
  position: relative;
  left: 100px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEEEEE;
  border-radius: 5px;
  box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.5);
}

.switch {
  width: 30px;
  height: 60px;
  border: 1px solid #333;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.5);
  background: #F5F5F5;
}

.switchOn {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}