*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background: rgba(33,33,33,.8);
  position: relative;
}

.main {
  width: 800px;
  height: 100%;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.box ul {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 100px;
  list-style: none;
}

.lights-top {
  width: 50px;
  height: 40px;
  background: #263238;
  border-radius: 4% 4% 4% 4% / 10% 10% 10% 10%;
}

.light {
  height: 60px;
  width: 40px;
  border: 1px solid #fff;
  border-top: none;
  border-radius: 50% 50% 50% 50% / 0% 0% 60% 60%;
  left: 5px;
  top: 40px;
  position: relative;
}

.light::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 5px;
  width: 8px;
  height: 20px;
  background: #fff;
  border-radius: 96% 4% 96% 4% / 90% 4% 96% 10% ;
}
