* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #212121;
    color: #FAFAFA;
}

.wrapper {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title title"
        "content1 content1"
        "content2 content2";
    min-height: 500px;
    width: 600px;
    border: 1px solid #FAFAFA;
    background: #263238;
    border-radius: 5px;
}

h1 {
    grid-area: title;
    font-size: 3rem;
    align-self: center;
    justify-self: center;
}

form, label, input {
    grid-area: content1;
    align-self: center;
    justify-self: center;
    padding: 10px 10px;
    font-size: 16px;
}

h3 {
    grid-area: content2;
    align-self: start;
    justify-self: center;
}

.btn {
    grid-area: content2;
    align-self: center;
    justify-self: center;
    padding: 13px 20px;
    font-size: 16px;
    border: none;
    background: white;
    cursor: pointer;
    position: relative;
    right: 15px;
}

.btn:hover {
    background: #1565C0;
    color: white;
}

@keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(5px, 0, 0);
    }
  }

.warning {
    border: 1px solid #E53935;
}

.warning-par {
    position: relative;
    right: 28px;
    color: #E53935;
    text-align: center;
    animation-name: shake;
    animation-duration: 1000ms;
}

/* Footer */
.footer {
    margin-top: auto;
    height: 50px;
    border-top: 1px solid #FAFAFA;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    position: relative;
    left: 20px;
    padding: 10px;
    color: #FAFAFA;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .wrapper {
        min-height: 300px;
        width: 400px;
    }

    h1 {
        font-size: 2rem;
        align-self: center;
        justify-self: center;
    }
    
    form, label, input {
        padding: 6px 5px;
        font-size: 16px;
    }

    .warning-par {
        font-size: 14px;
    }
    
    .btn {
        justify-self: center;
        padding: 9px 10px;
        font-size: 16px;
        border: none;
        background: white;
        cursor: pointer;
        position: relative;
        right: 15px;
    }
}